@{
    Layout = "~/Views/Shared/_LayoutCuenta.cshtml";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Principal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Transacciones</a></li>
                        <li class="breadcrumb-item active">Gestión</li>
                    </ol>
                </div>
                <h4 class="page-title">GESTIÓN TRANSACCIONES</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        @*<button type="button" class="btn btn-success btn-rounded mb-3" data-toggle="modal" data-target="#modalUsuario"><i class="mdi mdi-plus"></i>AGREGAR USUARIO</button>*@
                    </p>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Usuario</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Envió / Recibirá</th>
                                        <th>Cod</th>
                                        <th>Tipo de cambio</th>
                                        <th>Precio Compra</th>
                                        <th>Precio Venta</th>
                                        <th>Origen de los fondos</th>
                                        <th>Banco emisor</th>
                                        <th>Número de operación</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalUsuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">USUARIO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="frmUsuario">
                                <div class="form-group mb-3">
                                    <label for="idGrado">Grado</label>
                                    <select class="form-control" id="idGrado"></select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="idNombres">Nombres</label>
                                    <input type="text" id="idNombres" placeholder="Nombres" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idApPaterno">Apellido Paterno</label>
                                    <input type="text" id="idApPaterno" placeholder="Apellido Paterno" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idApMaterno">Apellido Materno</label>
                                    <input type="text" id="idApMaterno" placeholder="Apellido Materno" class="form-control">
                                </div>

                            </form>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <form id="frm2">
                                <div class="form-group mb-3">
                                    <label for="idTipoUsuario">Tipo Usuario</label>
                                    <select class="form-control" id="idTipoUsuario">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Profesor</option>
                                        <option value="3">Alumno</option>
                                        <option value="4">Supervisor</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="simagen">Imagen</label>
                                    <input type="file" id="simagen" class="form-control" placeholder="Imagen" accept="image/png, image/jpeg, image/jpg">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="idUsuario">Usuario</label>
                                    <input type="text" id="idUsuario" name="example-email" class="form-control" placeholder="Usuario">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="idContrasenia">Contraseña</label>
                                    <input type="password" id="idContrasenia" class="form-control">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnAgregar"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEditarOperacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <input type="hidden" value="" data-idusuario="" id="hddusuario" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">VER OPERACION</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txnombresE">Usuario</label>
                                <input type="text" id="txnombresE" placeholder="Nombres" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txdocumentoE">DNI</label>
                                <input type="text" id="txdocumentoE" placeholder="DNI" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txcelularE">Celular</label>
                                <input type="text" id="txcelularE" placeholder="Celular" class="form-control" disabled>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txfecha">Fecha y Hora</label>
                                <input type="text" id="txfecha" placeholder="Fecha y hora" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txdivisa">Tipo de Compra y Venta Realizada</label>
                                <input type="text" id="txdivisa" placeholder="Tipo compra" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txestadoE">Estado actual</label>
                                <input type="text" id="txestadoE" placeholder="Estado" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="txOperacionNro">Nro de Operación</label>
                                <input type="text" id="txOperacionNro" placeholder="No hay datos todavía" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="txEnvioE">El envió</label>
                                <input type="text" id="txEnvioE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="txRecibeE">El Recibiría</label>
                                <input type="text" id="txRecibeE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txTipoCambioE">Tipo de cambio</label>
                                <input type="text" id="txTipoCambioE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txTipoTransaccionE">Tipo de transacción</label>
                                <input type="text" id="txTipoTransaccionE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txBancoemisorE">Banco Emisor</label>
                                <input type="text" id="txBancoemisorE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txBancoReceptorE">Banco Receptor</label>
                                <input type="text" id="txBancoReceptorE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="txnumCuentaE">Número de Cuenta</label>
                                <input type="text" id="txnumCuentaE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="txMonedaCuentaE">Moneda de la Cuenta</label>
                                <input type="text" id="txMonedaCuentaE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="txTipoCuentaE">Tipo de Cuenta</label>
                                <input type="text" id="txTipoCuentaE" placeholder="" class="form-control" disabled>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-info btn-rounded mb-3" id="btnActualizar" onclick="fn_Actualizar(4)"><i class="mdi mdi-plus"></i>ENVIÉ EL ABONO</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnfinalizar" onclick="fn_Actualizar(5)"><i class="mdi mdi-plus"></i>ABONO LLEGADO</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEliminarAlumno" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <input type="hidden" value="" data-idalumnoEliminar="" id="hddAlumnoEliminar" />
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <i class="dripicons-wrong h1 text-danger"></i>
                        <h4 class="mt-2">¿Seguro de Eliminar este alumno?</h4>
                        <button type="button" onclick="fn_ConfirmarEliminar()" id="mdEliminar" class="btn btn-success my-2" data-dismiss="modal">Eliminar</button>
                        <button type="button" id="" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hddidusuario" value="@ViewBag.GIdusuario" />
<input type="hidden" id="hddtransaccionid" value="" />

@section scripts{
    <script>

        function fnlistarTabla() {
            var paraidusuario = $('#hddidusuario').val();
            $('#basic-datatable').dataTable({
                responsive: "true",
                dom: 'Bfrtilp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 6, 7, 8, 9, 10, 11]
                        }
                    }
                    //{
                    //    extend: 'pdfHtml5',
                    //    text: '<i class="fas fa-file-pdf"></i> ',
                    //    titleAttr: 'Exportar a PDF',
                    //    className: 'btn btn-danger'
                    //}
                ],
                "ajax": {
                    "url": "/Inicio/ListarOperacionAdmin",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "widusuario": 0,
                        "wdtfecha": "vacio",
                        "westado": 0
                    },
                    "dataSrc": 'aaData'
                },
                //"bServerSide": true,
                "order": [[5, "desc"]],
                "bProcessing": true,
                "bDestroy": true,
                "bLengthChange": false,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sLengthMenu": "Mostrando _MENU_ filas",
                    "sSearch": "Buscar:"
                },
                "columns": [
                    //idcuentabancaria
                    {},
                    {
                        "mData": "vnombres",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            var sretornar;
                            sretornar = value.vnombres + " " + value.vapellidos
                            return sretornar;
                        }
                    },
                    {
                        "mData": "iestado",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            switch (value.iestado) {
                                case 1: return "TRANSACCIÓN CREADA"; break;
                                case 2: return "EN CURSO"; break;
                                case 3: return "VALIDANDO"; break; //administrador
                                case 4: return "EN CURSO DE ABONO"; break;
                                case 5: return "FINALIZADO"; break;
                                case 6: return "REEMBOLSADO"; break;
                                case 7: return "ERROR"; break;
                            }

                        }
                    },
                    {
                        "mData": "dtfecha",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            return value.dtfecha + " | " + value.vhora;
                        }
                    },
                    
                    {
                        "mData": "denvio",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            if (value.itipocambio == 0) {
                                return " $ " + value.denvio + " | " + " S/. " + value.drecibo;
                            } else {
                                return " S/. " + value.denvio + " | " + " $ " + value.drecibo;
                            }

                        }
                    },
                    { "sName": "idtransaccion", "mDataProp": "idtransaccion" },



                    {
                        "mData": "itipocambio",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            if (value.itipocambio == 0) {
                                return "Dólares a Soles";
                            } else {
                                return "Soles a Dólares";
                            }

                        }
                    },
                    { "sName": "ddolarescompra", "mDataProp": "ddolarescompra" },
                    { "sName": "ddolaresventa", "mDataProp": "ddolaresventa" },
                    {
                        "mData": "iorigenfondo",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            switch (value.iorigenfondo) {
                                case 1: return "Ahorros"; break;
                                case 2: return "Alquiler de bienes muebles"; break;
                                case 3: return "Alquiler de bienes Inmuebles"; break;
                                case 4: return "Donación/Sorteo"; break;
                                case 5: return "Ingresos por trabajo independiente"; break;
                                case 6: return "Ingresos por trabajo dependiente"; break;
                                case 7: return "Ingresos por regalía"; break;
                                case 8: return "Préstamos"; break;
                                case 9: return "Venta de bien mueble"; break;
                                case 10: return "Venta de bien inmueble"; break;
                                case 11: return "Transferencias del Exterior"; break;
                                case 12: return "Herencia"; break;
                                case 13: return "Actividades relacionadas a la venta de Oro"; break;
                                case 14: return "No Especificado"; break;
                                case 15: return "Ingresos de la empresa"; break;
                            }

                        }
                    },
                    {
                        "mData": "vbancoreceptor",
                        "sClass": "center",
                        "mRender": function (data, type, value) {
                            var sresbanco = value.vbancoreceptor;
                            if (sresbanco.length == 1 || sresbanco.length == 2) {
                                switch (value.vbancoreceptor) {
                                    case "1": return "(BCP) - Banco de Crédito del Perú"; break;
                                    case "2": return "(Interbank) - Banco Internacional del Perú"; break;
                                    case "3": return "(BBVA) - BBVA Continental"; break;
                                    case "4": return "(BanBif) - BanBif"; break;
                                    case "5": return "(Scotiabank) - Scotiabank"; break;
                                    case "6": return "(Falabella) - Banco Falabella"; break;
                                    case "7": return "(Pichincha) - Banco Pichincha"; break;
                                    case "8": return "(Bancomercio) - Banco de Comercio"; break;
                                    case "9": return "(Citibank) - Citibank Perú"; break;
                                    case "10": return "(Mibanco) - Mi Banco"; break;
                                    case "11": return "(GNB) - Banco GNB"; break;
                                    case "12": return "(Ripley) - Banco Ripley"; break;
                                    case "13": return "(Nacion) - Banco de la Nación"; break;
                                    case "14": return "(Otro) - Otro"; break;
                                }
                            } else {
                                return "-";
                            }
                            

                        }
                    },
                    { "sName": "voperacion", "mDataProp": "voperacion" }
                    
                ],
                "aoColumnDefs":
                    [
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn text-white btn-warning' onclick='fn_Editar("
                                    + row.idtransaccion + ", " +
                                    + row.idusuario + ", " +
                                    "\"" + encodeURIComponent(row.vnombres) + "\"" + ", " +                                    
                                    "\"" + encodeURIComponent(row.vapellidos) + "\"" + ", " +
                                    //29-07-2021
                                    "\"" + encodeURIComponent(row.vdocumento) + "\"" + ", " +
                                    "\"" + encodeURIComponent(row.vcelular) + "\"" + ", " +
                                    //29-07-2021
                                    "\"" + encodeURIComponent(row.dtfecha) + "\"" + ", " +
                                    + row.itipodivisa + ", " +
                                    "\"" + encodeURIComponent(row.ddolaresventa) + "\"" + ", " +
                                    "\"" + encodeURIComponent(row.ddolarescompra) + "\"" + ", " +
                                    "\"" + encodeURIComponent(row.vhora) + "\"" + ", " +
                                    //row.vimagen string
                                    //row.vimagenruta string
                                    + row.iestado + ", " +
                                    "\"" + encodeURIComponent(row.voperacion) + "\"" + ", " +
                                    "\"" + encodeURIComponent(row.denvio) + "\"" + ", " +
                                    "\"" + encodeURIComponent(row.drecibo) + "\"" + ", " +
                                    + row.itipocambio + ", " +
                                    + row.itipotrasaccion + ", " +
                                    "\"" + encodeURIComponent(row.vbancoreceptor) + "\"" + ", " +
                                    row.idcuentabancaria +
                                    ")' >Ver Detalle</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [0]
                        },
                        //{
                        //    "mRender": function (data, type, row) {
                        //        var strHtml = "<button class='btn btn-danger' onclick='fnEliminar(" + row.idusuarioadministrador + ");' >Eliminar</button>";
                        //        return strHtml;
                        //    },
                        //    "sWidth": "5px",
                        //    "sClass": "css-center",
                        //    "bSort": false,
                        //    "aTargets": [5]
                        //}
                    ]
            });

        }
        fnlistarTabla();

        //var paramidusuarioadmin = $('#hddidusuario').val();
        //var decfecharegistro = moment().format("YYYY-MM-DD");
        //var dechora = moment().format("hh:mm:ss");
        function fn_Editar(pidtransaccion, idusuario, paramvnombres, paramvapellidos,paramvdocumento,paramvcelular, paramdtfecha, itipodivisa,
            paramddolaresventa, paramddolarescompra, paramvhora, paramiestado, paramvoperacion, paramdenvio, paramdrecibo, paramitipocambio,
            paramitipotrasaccion, paramvbancoreceptor, paridcuentabancaria) {

            var sbancores = "";
            $.ajax({
                type: "POST",
                url: "/Inicio/FiltrarCuentaBancaria",
                data: {
                    "widcuentabancaria": paridcuentabancaria
                },
                success: function (data) {
                    switch (data.aaData.ibanco) {
                        case 1: sbancores = "(BCP) - Banco de Crédito del Perú"; break;
                        case 2: sbancores = "(Interbank) - Banco Internacional del Perú"; break;
                        case 3: sbancores = "(BBVA) - BBVA Continental"; break;
                        case 4: sbancores = "(BanBif) - BanBif"; break;
                        case 5: sbancores = "(Scotiabank) - Scotiabank"; break;
                        case 6: sbancores = "(Falabella) - Banco Falabella"; break;
                        case 7: sbancores = "(Pichincha) - Banco Pichincha"; break;
                        case 8: sbancores = "(Bancomercio) - Banco de Comercio"; break;
                        case 9: sbancores = "(Citibank) - Citibank Perú"; break;
                        case 10: sbancores = "(Mibanco) - Mi Banco"; break;
                        case 11: sbancores = "(GNB) - Banco GNB"; break;
                        case 12: sbancores = "(Ripley) - Banco Ripley"; break;
                        case 13: sbancores = "(Nacion) - Banco de la Nación"; break;
                        case 14: sbancores = "(Otro) - Otro"; break;
                    }

                    $('#txBancoReceptorE').val(sbancores);
                    $('#txnumCuentaE').val(data.aaData.vnumerocuenta);

                    if (data.aaData.imoneda == 1) {
                        $('#txMonedaCuentaE').val("Soles (S/.)");
                    } else {
                        $('#txMonedaCuentaE').val("Dólares ($)");
                    }

                    if (data.aaData.itipocuenta == 1) {
                        $('#txTipoCuentaE').val("Ahorro");
                    } else {
                        $('#txTipoCuentaE').val("Corriente");
                    }

                },
                error: function (data) {
                    console.log("err:" + data);
                }
            });

            
            var sbancores2 = "";
            switch (decodeURIComponent(paramvbancoreceptor)) {
                case "1": sbancores2 = "(BCP) - Banco de Crédito del Perú"; break;
                case "2": sbancores2 = "(Interbank) - Banco Internacional del Perú"; break;
                case "3": sbancores2 = "(BBVA) - BBVA Continental"; break;
                case "4": sbancores2 = "(BanBif) - BanBif"; break;
                case "5": sbancores2 = "(Scotiabank) - Scotiabank"; break;
                case "6": sbancores2 = "(Falabella) - Banco Falabella"; break;
                case "7": sbancores2 = "(Pichincha) - Banco Pichincha"; break;
                case "8": sbancores2 = "(Bancomercio) - Banco de Comercio"; break;
                case "9": sbancores2 = "(Citibank) - Citibank Perú"; break;
                case "10": sbancores2 = "(Mibanco) - Mi Banco"; break;
                case "11": sbancores2 = "(GNB) - Banco GNB"; break;
                case "12": sbancores2 = "(Ripley) - Banco Ripley"; break;
                case "13": sbancores2 = "(Nacion) - Banco de la Nación"; break;
                case "14": sbancores2 = "(Otro) - Otro"; break;
            }
            $('#txBancoemisorE').val(sbancores2);

            //console.log(paramvbancoreceptor);
            $('#hddtransaccionid').val(pidtransaccion);
            $('#txnombresE').val(decodeURIComponent(paramvnombres) + " " + decodeURIComponent(paramvapellidos));
            $('#txdocumentoE').val(paramvdocumento);
            $('#txcelularE').val(paramvcelular);
            $('#txfecha').val(decodeURIComponent(paramdtfecha) + " " + decodeURIComponent(paramvhora));
            $('#txdivisa').val("Venta: " + decodeURIComponent(paramddolaresventa) + " | Compra: " + decodeURIComponent(paramddolarescompra));
            $('#txOperacionNro').val(decodeURIComponent(paramvoperacion));
            $('#txEnvioE').val(decodeURIComponent(paramdenvio));
            $('#txRecibeE').val(decodeURIComponent(paramdrecibo));

            //0: dolares a soles COMPRA | 1: soles a dolares VENTA
            if (paramitipocambio == 0) {
                $('#txTipoCambioE').val("Dólares a Soles");
            } else {
                $('#txTipoCambioE').val("Soles a Dólares");
            }

            if (paramitipotrasaccion == 0) {
                $('#txTipoTransaccionE').val("Compra");
            } else {
                $('#txTipoTransaccionE').val("Venta");
            }


            /*
            estado:
            1: cotizado
            2: abonado
            3: validando (administrador)
            4: en curso de abono
            5: finalizado
            6: reembolsado
            7: error
            */
            switch (paramiestado) {
                case 1: $('#txestadoE').val("Cotizado"); break;
                case 2: $('#txestadoE').val("En curso"); break;
                case 3: $('#txestadoE').val("Validando"); break;
                case 4: $('#txestadoE').val("Depósito a usuario en curso"); break;
                case 5: $('#txestadoE').val("Finalizado"); break;
                case 6: $('#txestadoE').val("Reembolso"); break;
                case 7: $('#txestadoE').val("Error"); break;
            }

            if (paramiestado == 1) {
                $('#btnActualizar').css("display", "none");
                $('#btnfinalizar').css("display", "none");
            }
            if (paramiestado == 2) {
                $('#btnActualizar').css("display", "block");
                $('#btnfinalizar').css("display", "none");
            }
            if (paramiestado == 3) {
                $('#btnActualizar').css("display", "none");
                $('#btnfinalizar').css("display", "block");
            }
            if (paramiestado == 4) {
                $('#btnActualizar').css("display", "none");
                $('#btnfinalizar').css("display", "block");
            }
            if (paramiestado == 5) {
                $('#btnActualizar').css("display", "none");
                $('#btnfinalizar').css("display", "none");
            }

            $('#modalEditarOperacion').modal('show');

        }

        function fn_Actualizar(paramestado) {
            var idtransaccionparam = $('#hddtransaccionid').val();
            var hddidusuarioE = $('#hddidusuario').val();
            var iparamestado = parseInt(paramestado);
            $('#divcarga').addClass("is-active");
            $.ajax({
                type: 'post',
                url: RutaPrincipal + 'Inicio/OperacionTranscaccion',
                data: {
                    "itipooperacion": 3,
                    "idtransaccion": idtransaccionparam,
                    "idusuario": 0,
                    "iddivisa": 0,
                    "idpromocion": 0,
                    "idcuentabancaria": 0,
                    "idusuarioadministrador": hddidusuarioE, //usuario que hizo la transaccion (admin) igual en upd
                    "dtfecha": "",
                    "itipodivisa": 0,
                    "dolaresventa": 0,
                    "dolarescompra": 0,
                    "hora": "",
                    "imagenruta": "",
                    "itipoenvio": 0,
                    "iestado": iparamestado,
                    "voperacion": "",
                    "iorigenfondo": 0,
                    "denvio": 0,
                    "drecibo": 0,
                    "itipocambio": 0,
                    "itipotrasaccion": 0,
                    "digv": 0,
                    "vbancoreceptor": "",
                    "dtfecharegistro": "",
                    "dtfechamodificacion": "",
                    "idusuarioModificacion": 0,
                    "voperacionadmin": ""
                },
            }).done(function (result) {
                $('#divcarga').removeClass("is-active");
                NotificacionSuccessDerecha("Transaccion Cambiada");
                $('#modalEditarOperacion').modal("hide");
                fnlistarTabla();
            });
        }

    </script>
}