@{
    ViewBag.Title = "Home Page";
}

    <!-- preloader area end -->
    <!-- Banners Start -->
    <section class="banner" style="background-image: url('../../assets/img/banner-bg2.png')">
        <div class="laptop">
            <img src="~/assets/img/laptop-man.png" class="man-lap" alt="">
        </div>
        <!-- Main-menu Strat -->
        <div class="mein-menu">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container">
                    <a class="navbar-brand" href="index-2.html">
                        <h4 style="color:white;">TuCambioTotal</h4>
                        <!-- <img src="assets/img/logo.png" class="logo" alt="logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#divfeature">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#divcomousar">¿Cómo funciona?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#divfaq">Preguntas frecuentes</a>
                            </li>
                            <li class="nav-item">
                                <button class="button button-1">Regístrate</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Main-menu End -->
        <!-- Banner Start -->
        <div class="hero-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 ">
                        <div class="banner-content" style="margin-left: 3%;">
                            <h1 class="head">Obtén el mejor tipo de cambio</h1>
                            <p class="text">
                                Nacimos con el sueño de ofrecer la mejor experiencia <br>
                                de cambiar dinero en el Perú.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="hero-form">
                            <p class="text tcambiar">Me gustaría cambiar</p>
                            <div class="divcambio" style="display: inline-flex;align-content: center;">
                                Compra:&nbsp;<strong id="txcompra">3.816</strong>&nbsp;
                                Venta: <strong id="txventa">3.851</strong>
                            </div>
                            <p class="text tcambiar">Enviaré</p>
                            <div class="courrency-select-Ip1">
                                <label for="" id="lbl1">Soles</label>
                            </div>
                            <div class="courrency-select">
                                <form action="#!" id="faq_form">
                                    <div class="form-group">
                                        <input type="text" name="number" id="txInput1" placeholder="00.0" maxlength="10"
                                               class="form-control tcambiar">
                                    </div>
                                </form>
                            </div>
                            <a class="button button-1" id="btncambiar" style="margin-left: 45%;margin-bottom: -9%;
                            margin-top: -5%;width: 70px !important;border-radius: 60px;
                            background-color: white;color: black;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                    <path fill-rule="evenodd"
                                          d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                </svg>
                            </a>
                            <p class="text tcambiar">Recibiré</p>
                            <div class="courrency-select-Ip1">
                                <label for="" id="lbl2">Dólares</label>
                            </div>
                            <div class="courrency-select">
                                <form action="#!" id="faq_form2">
                                    <div class="form-group">
                                        <input type="text" name="number" id="txInput2" placeholder="00.0" maxlength="10"
                                               class="form-control tcambiar">
                                    </div>
                                </form>
                            </div>
                            <a href="#" style="color:white;">¿Monto mayor a $10.000 o S/ 30.000?</a>
                            <a href="#" class="button button-1">Regístrate ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
    </section>

    <!-- How-use Start -->
    <div class="how-use" id="divcomousar">
        <div class="usesape">
            <img src="~/assets/img/use-bg.png" class="usesape-img" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="photo">
                        <img src="~/assets/img/use-img.png" class="use-img" alt="">
                    </div>
                    <!-- <div class="video-box">
                        <div class="video-img">
                            <img src="assets/img/video-play-img.png" alt="">

                            <a class="youtube-video mfp-iframe video-play-btn video-icon"
                                href="https://www.youtube.com/watch?v=4DCTTrGjGU4">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                        <div class="video-text">
                            <p class="text">test</p>
                            <span><i class="far fa-clock"></i> 2:32 minutos</span>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h3 class="subtitle" style="color:green;">Realiza tu cambio ahora</h3>
                        <h2 class="title">Es muy fácil!</h2>
                        <p class="text">Tenemos pasos simples para que cambies tu dinero</p>
                    </div>
                    <div class="use-box">
                        <div class="install">
                            <div class="tumb">
                                <img src="~/assets/img/use-icon-1.png" alt="">
                            </div>
                            <div class="text-box">
                                <span style="color:green;">Paso 1</span>
                                <h4>Ingresa el monto y regístrate o inicia sesión</h4>
                            </div>
                        </div>
                        <div class="install">
                            <div class="tumb">
                                <img src="~/assets/img/use-icon-2.png" alt="">
                            </div>
                            <div class="text-box">
                                <span style="color:green;">Paso 2</span>
                                <h4>Agrega o selecciona tu cuenta bancaria</h4>
                            </div>
                        </div>
                        <div class="install">
                            <div class="tumb">
                                <img src="~/assets/img/use-icon-3.png" alt="">
                            </div>
                            <div class="text-box">
                                <span style="color:green;">Paso 3</span>
                                <h4>¡Realiza el depósito y listo! Llegará rápidamente a tu cuenta</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us Start -->
    <section class="about">
        <div class="sape">
            <img src="~/assets/img/about-bg.png" class="about-sape" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="upper-content text-center">
                        <h3 class="subtitle" style="color:green;">Tenemos el mejor tipo de cambio para ti</h3>
                        <h2 class="title">¿Porqué usar TuCambioTotal?</h2>
                        <p class="text">
                            Buscamos en tiempo real muchos datos para comparar los tipos de cambios existentes cada día.
                            Trabajamos constantemente para ti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-photo">
                        <img src="~/assets/img/about-img.png" alt="" class="about-img">
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="content">
                        <div class="compare-box">
                            <div class="tumb">
                                <img src="~/assets/img/about-icon-1.png" alt="">
                            </div>
                            <div class="text-box">
                                <h3 class="subtitle">Ahorra</h3>
                                <p class="text">
                                    Puedes ahorrar dinero cada vez que hagas una transacción con nosotros.
                                </p>
                            </div>
                        </div>
                        <div class="compare-box">
                            <div class="tumb">
                                <img src="~/assets/img/about-icon-2.png" alt="">
                            </div>
                            <div class="text-box">
                                <h3 class="subtitle">Somos confiables</h3>
                                <p class="text">
                                    Te brindamos el apoyo constante para que tus cambios de soles a dólares
                                    sean seguros.
                                </p>
                            </div>
                        </div>
                        <div class="compare-box">
                            <div class="tumb">
                                <img src="~/assets/img/about-icon-3.png" alt="">
                            </div>
                            <div class="text-box">
                                <h3 class="subtitle">Obtén tu dinero rápidamente</h3>
                                <p class="text">
                                    Hacemos lo posible para que tu cambio llegue a tu cuenta bancaria lo más rápido
                                    posible.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature Start -->
    <div class="feature" id="divfeature">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="upper-content text-center">
                        <h3 class="subtitle" style="color:green;">Nuestras características</h3>
                        <h2 class="title">Tenemos la mejor opción</h2>
                        <p class="text">Buscamos el mejor tipo de cambio para que ahorres</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="~/assets/img/feature-icon-1.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Costo</h3>
                            <p class="text">
                                Encuentra el mejor tipo de cambio aquí
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="~/assets/img/feature-icon-2.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Rapidez</h3>
                            <p class="text">Te enviamos el cambio lo más pronto posible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="~/assets/img/feature-icon-3.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Tipos de pago</h3>
                            <p class="text">Podrás agregar varios bancos en tu cuenta.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="~/assets/img/feature-icon-4.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Montos mayores</h3>
                            <p class="text">También puedes hacer transacciones con montos pesados. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Faq Start -->
    <div class="faq" id="divfaq">
        <div class="sape">
            <img src="~/assets/img/question-bg.png" alt="" class="faq-bg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h3 class="subtitle" style="color:green;">¿Cómo te podemos ayudar?</h3>
                        <h2 class="title">Preguntas Frecuentes</h2>
                        <p class="text">Respondemos a las dudas que tengas</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                    ¿Qué debo hacer una vez tenga mi monto a transferir?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Regístrate o Inicia sesión en la plataforma TuCambiototal, una vez hecho esto podrás
                                    agregar una cuenta bancaria
                                    en la cual deberás colocar el CCI (Cuenta interbancaraia) de dicho banco y
                                    seguidamente podrás realizar el abono
                                    a nuestra cuenta. Hecho esto solo es cuestión de minutos o ver nuestro cronograma de
                                    horarios para que recibas
                                    el monto elegido.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                    ¿Qué bancos puedo utilizar?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Puedes agregar los bancos que desees tales como BCP, BBVA, Interbank, Scotiabank,
                                    Banco Pichincha,
                                    Banco Azteca, Cajas, etc. Algunos bancos tendrán un plazo más de demora.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                    ¿Puedo usar el número de cuenta de destino de otra persona que no sea yo?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Comofer is currently serviced in Belgium, Canada, Denmark, Finland, France, Germany,
                                    Ireland, Italy, Netherlands, Norway, Spain,
                                    Sweden, United Kingdom and the United States. We will update you when we expand the
                                    list. CPP for AppTig console only allows players from other consoles to play
                                    together in the same matchmaking pools.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                    How can I use Comofer to find the best ways to send money?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Comofer is currently serviced in Belgium, Canada, Denmark, Finland, France, Germany,
                                    Ireland, Italy, Netherlands, Norway, Spain,
                                    Sweden, United Kingdom and the United States. We will update you when we expand the
                                    list. CPP for AppTig console only allows players from other consoles to play
                                    together in the same matchmaking pools.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                    How can I use Comofer to find the best ways to send money?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Comofer is currently serviced in Belgium, Canada, Denmark, Finland, France, Germany,
                                    Ireland, Italy, Netherlands, Norway, Spain,
                                    Sweden, United Kingdom and the United States. We will update you when we expand the
                                    list. CPP for AppTig console only allows players from other consoles to play
                                    together in the same matchmaking pools.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                    How can I use Comofer to find the best ways to send money?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Comofer is currently serviced in Belgium, Canada, Denmark, Finland, France, Germany,
                                    Ireland, Italy, Netherlands, Norway, Spain,
                                    Sweden, United Kingdom and the United States. We will update you when we expand the
                                    list. CPP for AppTig console only allows players from other consoles to play
                                    together in the same matchmaking pools.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="question">
                        <img src="~/assets/img/question-man.png" alt="" class="question-man">
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script>
        var vCompra = "";
        var vVenta = "";
        $.ajax({
            url: 'https://operations.roblex.pe/valuation/active-valuation',
            type: 'GET',
            dataType: 'json',
            cors: false,
            contentType: 'application/json',
            secure: false,
            headers: {
                'Access-Control-Allow-Origin': '*',
            },
            success: function (data) {
                vCompra = data.amountBuy;
                vVenta = data.amountSale;
                setTimeout(function () {
                    $('#txInput1').val(50);
                    $('#txInput2').val(50 * data.amountBuy);
                }, 500);
            }
        });
       

        var txt = document.getElementById('txInput1');
        txt.addEventListener('keyup', myFunc);
        var txt2 = document.getElementById('txInput2');
        txt2.addEventListener('keyup', myFunc2);


        function myFunc(e) {
            var val = this.value;
            var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
            var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
            if (re.test(val)) {
                //do something here
                var txip1 = $('#txInput2').val();
                $('#txInput2').val(txip1 * vCompra);
            } else {
                val = re1.exec(val);
                if (val) {
                    this.value = val[0];
                } else {
                    this.value = "";
                }
            }
        }

        function myFunc2(e) {
            var val = this.value;
            var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
            var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
            if (re.test(val)) {
                //do something here
                var txip2 = $('#txInput1').val();
                $('#txInput2').val(txip2 / vCompra);
            } else {
                val = re1.exec(val);
                if (val) {
                    this.value = val[0];
                } else {
                    this.value = "";
                }
            }
        }

        var valorInicial = 0;
        $('#btncambiar').on("click", function () {
            if (valorInicial == 1) {
                $('#lbl2').text("Dólares");
                $('#lbl1').text("Soles");
                valorInicial = 0;
                return;
            }

            valorInicial = 1;
            $('#lbl1').text("Dólares");
            $('#lbl2').text("Soles");
        });
    </script>
}