@{
    Layout = "~/Views/Shared/_LayoutCuenta.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title text-center" style="font-size:25px">HISTORIAL DE TRANSACCIONES</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @*<div class="col-3">
                            <div class="form-group">
                                <label for="fi">Fecha a buscar</label>
                                <input type="date" class="form-control" id="fi">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="slcopcion">Estado</label>
                                <select id="slcopcion" class="form-control">
                                    <option value="0">Seleccione</option>
                                    <option value="1">Recién creado</option>
                                    <option value="2">Abonado</option>
                                    <option value="3">Validando</option>
                                    <option value="4">En curso de abono</option>
                                    <option value="5">Finalizado</option>
                                    <option value="6">Reembolsado</option>
                                    <option value="7">Otro</option>
                                </select>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        @*<div class="col-md-6">
                            <button type="button" class="btn btn-success btn-rounded mb-3" id="btnBuscar">Buscar<i class="dripicons-search"></i></button>
                        </div>*@
                    </div>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblPago" class="table table-striped dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Envíe</th>
                                        <th style="text-align:center">Recibí</th>
                                        <th style="text-align:center">Tipo de cambio</th>
                                        <th style="text-align:center">Estado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hddidusuario" value="@ViewBag.GIdusuario" />

@section scripts {
    <script src="~/assets/js/moment.js"></script>
    <script>
        $('#fi').val(moment().format("YYYY-MM-DD"));
        var fechainicial = moment().format("YYYY-MM-DD");

        function fn_listartabla() {
            var idusuario = $('#hddidusuario').val();
            var sfecha = $('#fi').val();
            $('#tblPago').DataTable(
                {
                    responsive: "true",
                    dom: 'Bfrtilp',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i> ',
                            titleAttr: 'Exportar a Excel',
                            className: 'btn btn-success'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i> ',
                            titleAttr: 'Exportar a PDF',
                            className: 'btn btn-danger'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i> ',
                            titleAttr: 'Imprimir',
                            className: 'btn btn-info'
                        },
                    ],

                    "ajax": {
                        "url": "/Inicio/ListarOperacionUsuario",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "widusuario": idusuario,
                            "wdtfecha": "vacio",
                            "westado":0
                        },
                        "dataSrc": 'aaData'
                    },
                    "bFilter": false,
                    //"bServerSide": true,
                    "order": [[4, "asc"]],
                    "bProcessing": true,
                    "bDestroy": true,
                    "language": {
                        "info": "",
                        "infoEmpty": "",
                        //"searching": false,
                        "infoFiltered": "",
                        "emptyTable": "No se encontraron registros",
                        "sZeroRecords": "No se encontraron registros.",
                        "processing": "Cargando. Por favor espere...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "sLengthMenu": "Mostrando _MENU_ filas"
                    },
                    "columns": [
                        {
                            "mData": "dtfecha",
                            "sClass": "center",
                            "mRender": function (data, type, value) {
                                return value.dtfecha + " " + value.vhora;
                            }
                        },
                        { "sName": "denvio", "mDataProp": "denvio" },
                        { "sName": "drecibo", "mDataProp": "drecibo" },
                        {
                            "mData": "itipocambio",
                            "sClass": "center",
                            "mRender": function (data, type, value) {
                                if (value.itipocambio == 0) {
                                    return "Dólares a Soles";
                                } else {
                                    return "Soles a Dólares";
                                }

                            }
                        },
                        {
                            "mData": "iestado",
                            "sClass": "center",
                            "mRender": function (data, type, value) {
                                switch (value.iestado) {
                                    case 1: return "TRANSACCIÓN CREADA"; break;
                                    case 2: return "EN CURSO"; break;
                                    case 3: return "VALIDANDO"; break; //administrador
                                    case 4: return "EN CURSO DE ABONO"; break;
                                    case 5: return "FINALIZADO"; break;
                                    case 6: return "REEMBOLSADO"; break;
                                    case 7: return "ERROR"; break;
                                }

                            }
                        }

                    ]//,
                    //"aoColumnDefs":
                    //    [
                    //        {
                    //            "mRender": function (data, type, row) {
                    //                console.log(row);
                    //                // var strHtml = "<button class='btn btn-info' onclick='fnVerDetalle(" + row.idpago + ", " + row.idcurso + ", " + row.idusuario + ")' >Ver detalle</button>";
                    //                // return strHtml;
                    //            },
                    //            "sWidth": "5px",
                    //            "sClass": "css-center",
                    //            "bSort": false,
                    //            "aTargets": [5]
                    //        },
                    //    ]
                });
        }

        $(document).ready(function () {
            fn_listartabla();
        });

    </script>
}


